
<!-- <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="side">
      <ul class='nav navbar-nav'>
        <li><a [routerLink]="['cli']">cli</a></li>
        <li><a [routerLink]="['cancer']">cancer</a></li>
      </ul>
    side
    </mat-drawer>
      <mat-drawer-content>
          <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
          
    </mat-drawer-content>
</mat-drawer-container> -->

<app-toolbar></app-toolbar>
<router-outlet></router-outlet>


